*.db
antlr*
lindex/
target/
.project
.classpath
.vscode
design/
*code-workspace
logs/
indexes/
dependency-reduced-pom.xml
indexes_backup/**
indexes/**/*
externalsortinginjava-0.6.2-javadoc/
simplewiki*
stanford-english-extra-corenlp-models-current/
.cursor
